{#
/**
 * @file
 *
 * Available variables:
 * - id: The unique ID of the carousel this indicator belongs to.
 * - class: Any classes to apply. The first slide must be set to "active".
 * - slide: The index to slide to when clicked.
 */
#}
<li data-target="#{{ id }}" data-slide-to="{{ slide }}" class="{{ class }}"></li>
